# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [1]:
import numpy as np
import pandas as pd

In [2]:
location="datasets/tamiami.csv"
df=pd.read_csv(location)

In [3]:
df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1,100,1600,8,12,4.16
1,2,80,1200,6,13,4.63
2,3,450,2800,19,6,0.50
3,4,580,4300,19,2,0.47
4,5,100,1400,6,13,4.24

In [4]:
df.rename(columns={'Cart Location': 'Location', 'Hot Dog Sales': 'Sales', 
                'Employees in Nearby Office Buildings': 'Employees',
                  'Num of Nearby Restaurants': 'Restaurants',
                   'Num of Other Food Carts Nearby': 'Foodcarts'
                  }, inplace =True)

In [5]:
df.head()

   Location  Sales  Employees  Restaurants  Foodcarts  Price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

In [6]:
df.corr()

             Location     Sales  Employees  Restaurants  Foodcarts     Price
Location     1.000000  0.042705  -0.068923     0.049701   0.077219 -0.138444
Sales        0.042705  1.000000   0.943238     0.913674  -0.919762 -0.966378
Employees   -0.068923  0.943238   1.000000     0.856976  -0.874692 -0.881540
Restaurants  0.049701  0.913674   0.856976     1.000000  -0.761793 -0.933951
Foodcarts    0.077219 -0.919762  -0.874692    -0.761793   1.000000  0.860154
Price       -0.138444 -0.966378  -0.881540    -0.933951   0.860154  1.000000

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?

In [7]:
#use this library to build a statistical test for linear regression
import statsmodels.formula.api as smf

In [8]:
result = smf.ols('Price ~ Location + Sales + Employees + Restaurants + Foodcarts', 
                data=df).fit()

In [9]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.962
Model:                            OLS   Adj. R-squared:                  0.954
Method:                 Least Squares   F-statistic:                     121.7
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           3.05e-16
Time:                        13:28:44   Log-Likelihood:                -7.4344
No. Observations:                  30   AIC:                             26.87
Df Residuals:                      24   BIC:                             35.28
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       4.9407      0.656      7.527      0.000       3.586       6.295
Location       -0.0146      0.008     -1.775      0.089      -0.032       0.002
Sales          -0.0074      0.002     -3.398      0.002      -0.012      -0.003
Employees       0.0003      0.000      1.433      0.165      -0.000       0.001
Restaurants    -0.1018      0.036     -2.810      0.010      -0.177      -0.027
Foodcarts       0.0166      0.045      0.367      0.717      -0.077       0.110
==============================================================================
Omnibus:                        1.035   Durbin-Watson:                   2.551
Prob(Omnibus):                  0.596   Jarque-Bera (JB):                0.946
Skew:                          -0.396   Prob(JB):                        0.623
Kurtosis:                       2.641   Cond. No.                     2.31e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""